<%= partial 'partials/info_navbar' %>

<section class="skills">
  <div class="container">
    <div class="row align-items-center">
        <div class="skills-content">
            <div class="row">
                <div class="section-title">
                    <h1>Cafe Koharu</h1>
                    <p>
                      A landing page made for a small cafe within Kanazawa in mind. Designed with a calming aesthetic which reflects the soft nature of the owner and interior of the shop.
                      <br><br>
                      FEATURES:
                      <br>
                      - a simple intro image which reveals the hero through a scroll animation
                      <br>
                      - a revolving hero image which automatically fades within transitions of 3 images
                      <br>
                      - glassmorphic design of the navbar, hero content and menu background
                      <br>
                      - best sellers section which scrolls under the hero
                      <br>
                      - a menu which switches between food, drink and sweets options
                      <br>
                      - a modal popup for each menu item to display more detailed information
                      <br>
                      - a revolving gallery which automatically runs above the footer
                    </p>
                    <div class="tech-stack">
                      <% if data.projects[3].figma? %>
                        <i class="devicon-figma-plain tech"></i>
                      <% end %>
                      <% if data.projects[3].photoshop? %>
                        <i class="devicon-photoshop-plain"></i>
                      <% end %>
                      <% if data.projects[3].react? %>
                        <i class="devicon-react-original"></i>
                      <% end %>
                      <% if data.projects[3].nextjs? %>
                        <i class="devicon-nextjs-plain"></i>
                      <% end %>
                      <% if data.projects[3].typescript? %>
                        <i class="devicon-typescript-plain"></i>
                      <% end %>
                      <% if data.projects[3].rails? %>
                        <i class="devicon-rails-plain-wordmark tech"></i>
                      <% end %>
                      <% if data.projects[3].html? %>
                        <i class="devicon-html5-plain-wordmark tech"></i>
                      <% end %>
                      <% if data.projects[3].css? %>
                        <i class="devicon-css3-plain-wordmark tech"></i>
                      <% end %>
                      <% if data.projects[3].javascript? %>
                        <i class="devicon-javascript-plain tech"></i>
                      <% end %>
                    </div>
                    <div class="project-links">
                      <% if data.projects[3].code? %>
                        <% link_to data.projects[3].github, target: '_blank' do %>
                          <i class="fa-brands fa-github project-link"></i>
                        <% end %>
                      <% end %>
                      <% if data.projects[3].online? %>
                        <% link_to data.projects[3].url, class: 'globe', target: '_blank' do %>
                          <i class="fa-solid fa-globe project-link"></i>
                        <% end %>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="img">
          <%= image_tag 'projects/cafekoharu/koharu_mockup3.webp' %>
        </div>
    </div>
  </div>
</section>

<div class="gallery-wrap">
  <i class="fa-solid fa-circle-chevron-left info-arrow" id="backBtn"></i>
    <div class="gallery">
      <div>
        <span><%= image_tag 'projects/cafekoharu/Koharu-Intro.webp' %></span>
        <span><%= image_tag 'projects/cafekoharu/koharu-hero.webp' %></span>
        <span><%= image_tag 'projects/cafekoharu/koharu-best-sellers.webp' %></span>
      </div>
      <div>
        <span><%= image_tag 'projects/cafekoharu/koharu-about-us.webp' %></span>
        <span><%= image_tag 'projects/cafekoharu/koharu-menu.webp' %></span>
        <span><%= image_tag 'projects/cafekoharu/koharu-gallery.webp' %></span>
      </div>
    </div>
  <i class="fa-solid fa-circle-chevron-right info-arrow" id="nextBtn"></i>
</div>

<%= partial 'partials/new_footer' %>

<script src="/javascripts/info.js"></script>
