<!--Info Navbar-->
<div class="navigation-bar sticky-lg-top">
  <nav>
    <ul>
      <div>
        <a class="" href="#">
          <%= image_tag 'blackcat.png', alt: "icon photo", class: 'icon-photo' %>
        </a>
      </div>
      <div>
        <li><a class="navi-options" href="http://localhost:4567/">Home</a></li>
      </div>
    </ul>
  </nav>
</div>

<!--Info Content-->
<div class="container">

  <h1 class="info-me fs-1" id="info"><u>Friends 4 Benefits</u></h1>

  <div class="info">

    <!--Problem Section-->
    <div class="odd-info-container">

      <div class="info-text-container">
        <div class="info-content">
          <div class="info-textbox">
            <h2>Problem</h2>
            <p class="info-details">I'm Rashad, a former teacher and freelance dev who loves meeting new people from around the world.
            Since my days as a school teacher, musician and event host, I have always enjoyed getting to know new people and helping them out where I can.
            When not working I enjoy playing sports, games, traveling and hosting music events while Djing.</p>
          </div>
        </div>
      </div>

      <div class="info-img border">
        <div class="info-img-content">
          <div id="f4b1" class="carousel slide info-carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#f4b3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#f4b3" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#f4b3" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag 'projects/friends4benefits/some_services.png', alt: "project image", class: "info-img" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'projects/friends4benefits/some_services.png', alt: "project image", class: "info-img" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'projects/friends4benefits/some_services.png', alt: "project image", class: "info-img" %>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#f4b3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#f4b3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">____________________</p>


    <!--Solution Section-->
    <div class="even-info-container">
      <div class="info-text-container">
        <div class="info-content">
          <div class="info-textbox">
            <h2>Solution</h2>
            <p class="info-details">I'm Rashad, a former teacher and freelance dev who loves meeting new people from around the world.
            Since my days as a school teacher, musician and event host, I have always enjoyed getting to know new people and helping them out where I can.
            When not working I enjoy playing sports, games, traveling and hosting music events while Djing.</p>
          </div>
        </div>
      </div>

      <div class="info-img">
        <div class="info-img-content">
          <div id="f4b2" class="carousel slide info-carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#f4b2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#f4b2" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#f4b2" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag 'projects/friends4benefits/signup.png', alt: "project image", class: "info-img" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'projects/friends4benefits/signup.png', alt: "project image", class: "info-img" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'projects/friends4benefits/signup.png', alt: "project image", class: "info-img" %>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#f4b2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#f4b2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">____________________</p>


    <!--Features Section-->
    <div class="odd-info-container">
      <div class="info-text-container">
        <div class="info-content">
          <div class="info-textbox">
            <h2>Features</h2>
            <p class="info-details">I'm Rashad, a former teacher and freelance dev who loves meeting new people from around the world.
            Since my days as a school teacher, musician and event host, I have always enjoyed getting to know new people and helping them out where I can.
            When not working I enjoy playing sports, games, traveling and hosting music events while Djing.</p>
          </div>
        </div>
      </div>

      <div class="info-img">
        <div class="info-img-content">
          <div id="f4b3" class="carousel slide info-carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#f4b3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#f4b3" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#f4b3" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag 'projects/friends4benefits/signin.png', alt: "project image", class: "info-img" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'projects/friends4benefits/signin.png', alt: "project image", class: "info-img" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'projects/friends4benefits/signin.png', alt: "project image", class: "info-img" %>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#f4b3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#f4b3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">____________________</p>

  </div>

</div>
