<!--Info Navbar-->
<div class="navigation-bar sticky-top">
  <nav>
    <ul>
      <div>
        <a class="" href="#">
          <%= image_tag 'blackcat.png', alt: "icon photo", class: 'icon-photo' %>
        </a>
      </div>
      <div>
        <li><a class="navi-options" href="https://rashaddupaty.netlify.app">Home</a></li>
      </div>
    </ul>
  </nav>
</div>

<!--Info Content-->
<div class="container">

  <h1 class="info-me fs-1" id="info"><u>Friends 4 Benefits</u></h1>

  <div class="info">

    <!--What is it? Section-->
    <div class="odd-info-container">

      <div class="info-text-container">
        <div class="info-content">
          <div class="info-textbox">
            <h2>What is it?</h2>
            <p class="info-details">Friends 4 Benefits is a social networking platform which helps people find new friends through mutual hobbies. <br><br> People can meet others through a wide range of activities from food to study buddies. </p>
          </div>
        </div>
      </div>

      <div class="info-img">
        <div class="info-img-content">
          <div id="f4b1" class="carousel slide info-carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#f4b1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#f4b1" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#f4b1" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag 'projects/friends4benefits/f4b_homepage.png', alt: "project image", class: "info-img" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'projects/friends4benefits/home2.png', alt: "project image", class: "info-img" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'projects/friends4benefits/signup.png', alt: "project image", class: "info-img" %>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#f4b1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#f4b1" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">____________________</p>


    <!--Looking for Friends? Section-->
    <div class="even-info-container">
      <div class="info-text-container">
        <div class="info-content">
          <div class="info-textbox">
            <h2>Looking for friends?</h2>
            <p class="info-details">Users who're looking for friends sign up to become a member and create a personal profile. <br><br> Once signed in they can browse available buddy "hobby" activities which are currently being offered by other users.</p>
          </div>
        </div>
      </div>

      <div class="info-img">
        <div class="info-img-content">
          <div id="f4b2" class="carousel slide info-carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#f4b2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#f4b2" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#f4b2" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag 'projects/friends4benefits/signin.png', alt: "project image", class: "info-img" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'projects/friends4benefits/all_buddies.png', alt: "project image", class: "info-img" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'projects/friends4benefits/drink_buddy.png', alt: "project image", class: "info-img" %>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#f4b2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#f4b2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">____________________</p>


    <!--Become a friend Section-->
    <div class="odd-info-container">
      <div class="info-text-container">
        <div class="info-content">
          <div class="info-textbox">
            <h2>Want to become a friend?</h2>
            <p class="info-details">Users can also create new buddy activities to offer to other users for their own hourly fee. <br><br> When recieving requests, these users can then review them to accept or decline the meeting requests.</p>
          </div>
        </div>
      </div>

      <div class="info-img">
        <div class="info-img-content">
          <div id="f4b3" class="carousel slide info-carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#f4b3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#f4b3" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#f4b3" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag 'projects/friends4benefits/drink_gallery.png', alt: "project image", class: "info-img" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'projects/friends4benefits/emo_buddies.png', alt: "project image", class: "info-img" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'projects/friends4benefits/friend_bookings.png', alt: "project image", class: "info-img" %>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#f4b3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#f4b3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">____________________</p>

  </div>

</div>
