<!--Info Navbar-->
<!--
<div class="navigation-bar sticky-top">
  <nav>
    <ul>
      <div>
        <a class="" href="#">
          <%= image_tag 'blackcat.png', alt: "icon photo", class: 'icon-photo' %>
        </a>
      </div>
      <div>
        <li><a class="navi-options" href="https://rashaddupaty.netlify.app">Home</a></li>
      </div>
    </ul>
  </nav>
</div>
-->

<!--Info Content-->
<!--
<div class="container">

  <h1 class="info-me fs-2" id="info"><u>UQ - Your Intelligence</u></h1>

  <div class="info">


    <div class="odd-info-container">

      <div class="info-text-container">
        <div class="info-content">
          <div class="info-textbox">
            <h2>What is it?</h2>
            <p class="info-details">UQ is an education app which helps students learn through their own learning styles. <br><br> It helps teachers prepare lessons through VARK which are the four approaches of Visual, Aural, Reading and Kinesthetic styles of learning.</p>
          </div>
        </div>
      </div>

      <div class="info-img">
        <div class="info-img-content">
          <div id="f4b1" class="carousel slide info-carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#f4b1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#f4b1" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#f4b1" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag 'projects/uq/uq_home.png', alt: "project image", class: "info-img" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'projects/uq/lessons.png', alt: "project image", class: "info-img" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'projects/uq/students.png', alt: "project image", class: "info-img" %>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#f4b1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#f4b1" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">____________________</p>



    <div class="even-info-container">
      <div class="info-text-container">
        <div class="info-content">
          <div class="info-textbox">
            <h2>How do teachers use it?</h2>
            <p class="info-details">Teachers can create classrooms and lesson content for each of the VARK styles with the help of the AI Lesson Creation Assistance feature. <br><br>Teachers can also analyze their students progress individually and send supplimentary lessons accordingly.</p>
          </div>
        </div>
      </div>

      <div class="info-img">
        <div class="info-img-content">
          <div id="f4b2" class="carousel slide info-carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#f4b2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#f4b2" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#f4b2" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag 'projects/uq/todo_students.png', alt: "project image", class: "info-img" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'projects/uq/student_progress.png', alt: "project image", class: "info-img" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'projects/uq/loading.png', alt: "project image", class: "info-img" %>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#f4b2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#f4b2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">____________________</p>



    <div class="odd-info-container">
      <div class="info-text-container">
        <div class="info-content">
          <div class="info-textbox">
            <h2>How do students use it?</h2>
            <p class="info-details">Students do their assigned homework according to their VARK designation during their registration. <br><br>They can also use the AI Help Chat feature when stuck on homework problems and send questions to their teacher directly through the Classroom Chat feature.</p>
          </div>
        </div>
      </div>

      <div class="info-img">
        <div class="info-img-content">
          <div id="f4b3" class="carousel slide info-carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#f4b3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#f4b3" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#f4b3" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag 'projects/uq/visual.png', alt: "project image", class: "info-img" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'projects/uq/ai.png', alt: "project image", class: "info-img" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'projects/uq/uq_chat.png', alt: "project image", class: "info-img" %>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#f4b3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#f4b3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">____________________</p>

  </div>

</div>
-->

 <section class="skills">
    <div class="container">
        <div class="row align-items-center">
            <div class="skills-content">
                <div class="row">
                    <div class="section-title">
                        <h1>UQ - YOUR INTELLIGENCE</h1>
                        <p>
                          An education app which helps students learn through differentiated learning and AI assistance. Key features include a VARK evaluation, AI generated lesson content and an AI Q&A which helps students along with homework assignments.
                        </p>
                        <div class="tech-stack">
                          <% if data.projects[4].rails? %>
                            <i class="devicon-rails-plain-wordmark tech"></i>
                          <% end %>
                          <% if data.projects[4].html? %>
                            <i class="devicon-html5-plain-wordmark tech"></i>
                          <% end %>
                          <% if data.projects[4].css? %>
                            <i class="devicon-css3-plain-wordmark tech"></i>
                          <% end %>
                          <% if data.projects[4].javascript? %>
                            <i class="devicon-javascript-plain tech"></i>
                          <% end %>
                          <% if data.projects[4].sql? %>
                            <i class="devicon-azuresqldatabase-plain tech"></i>
                          <% end %>
                          <% if data.projects[4].figma? %>
                            <i class="devicon-figma-plain tech"></i>
                          <% end %>
                        </div>
                        <div class="project-links">
                          <% if data.projects[4].code? %>
                            <% link_to data.projects[4].github, target: '_blank' do %>
                              <i class="fa-brands fa-github project-link"></i>
                            <% end %>
                          <% end %>
                          <% if data.projects[4].online? %>
                            <% link_to data.projects[4].url, class: 'globe', target: '_blank' do %>
                              <i class="fa-solid fa-globe project-link"></i>
                            <% end %>
                          <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="img">
              <%= image_tag 'uq_home.png' %>
              <!--<img src="images/skill.jpg" alt="skill">-->
            </div>
        </div>
    </div>
  </section>
